.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 200px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
    height: 500px;
    width: 100%;
}
